<app-navbar></app-navbar>
<div class="background_img">
  <div class="back_text">
    <h1>GET.FIT.NOW</h1>
    <p>Build muscles and Increase your strength</p>
  </div>
  <div class=" book">
    <h2 class="transparent__footer">Book a session with Jizzy</h2>
    <!-- <div class="d-flex justify-content-around">
      <input class="Book__details" type="text" placeholder="FULL NAME">
      <input class="Book__details" type="text" placeholder="EMAIL">
      <input class="Book__details" type="text" placeholder="PHONE">
      <input class="Book__details" type="text" placeholder="GENDER">
      <button  type="button" class="btn btn-secondary Book__details">BOOK NOW</button>
    </div> -->
    <div class="container ">
      <div class="row bookings">
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="FULL NAME">
        </div>
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="EMAIL">
        </div>
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="PHONE">
        </div>
        <div class="col-sm-3">
          <button  type="button" id="btn_book" class="btn btn-secondary ">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="content justify-content-around d-flex">
  <p>hey</p>
  <p>ddd</p>
  <p>dddd</p>
</div>
