<app-navbar></app-navbar>
<div class="background_img">
  <div class="back_text">
    <!-- <h1>GET.FIT.NOW</h1> -->
    <h1>GET.<span class="fit">FIT</span>.NOW</h1>
    <p>Build muscles and Increase your strength</p>
  </div>
  <div class=" book">
    <h2 class="transparent__footer">Book a session with Jizzy</h2>
    <div class="container ">
      <div class="row bookings">
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="FULL NAME">
        </div>
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="EMAIL">
        </div>
        <div class="col-sm-3">
          <input class="Book__details" type="text" placeholder="PHONE">
        </div>
        <div class="col-sm-3" id="btn_book">
          <button type="button" id="btn_book" class="btn btn-secondary ">BOOK NOW</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card__description">
  <h1 class="pl-4">Popular excercise</h1>
  <div class="row content">
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <img src="https://images.pexels.com/photos/176782/pexels-photo-176782.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3>Push Ups</h3>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <img src="https://images.pexels.com/photos/7188053/pexels-photo-7188053.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3>stretching</h3>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="card">
        <img src="https://images.pexels.com/photos/6999027/pexels-photo-6999027.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="">
        <h3>Squats</h3>
      </div>
    </div>
  </div>
</div>

<section class="overview">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
       <div class="image w-100 ">

       </div>
      </div>
      <div class="col-6 text">
        gym
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione hic, doloribus iusto sint recusandae assumenda sunt molestias nemo modi adipisci minima tenetur minus quisquam, mollitia exercitationem, ex nulla provident nihil.
      </div>
    </div>
  </div>
</section>
<!-- footer -->
<div class="footer__img">
  <div class="d-flex justify-content-end footer__text">
    <h3>YOUR FITNESS STARTS HERE SAVE TIME <br> AND SIGN UP <span style="color: orange;">ONLINE</span></h3>
  </div>
  <button type="button" class="btn btn-secondary btn__join">JOIN NOW</button>
  <div class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <h3>Contact us!</h3>
          <div>
            <i class="bi bi-telephone-inbound"></i> <span> 067 113 0709</span>
          </div>
          <div class="email">
            <i class="bi bi-envelope"></i> <span> nhlanhlamavundla1@gmail.com</span>
          </div>
          <div class="home">
            <i class="bi bi-house"></i> <span> 882 Kgotsong Str, Nadustria</span>
          </div>
        </div>
        <div class="col-lg-6">
          <h3>Connect with us!</h3>
          <div class="instagram">
            <a href=""><i class="bi bi-instagram"></i></a> <span style="margin-left: 20px;">
              <a href=""><i class="bi bi-facebook"></i></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


