.navbar-brand
{
  font-family: 'Palette Mosaic', cursive;
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar{
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
}
.nav_tabs{

  display: flex;
  // justify-content: flex-end;
  align-content: center;
   padding: 10px 50px 10px 250px;
}
.button__tabs{

  display: flex;
  justify-content: end;
  padding: 10px 30px 10px 210px;

  // padding-left: 3rem;
}
@media(max-width:990px){
  .nav_tabs{
    padding-left: 0;

  }
}
@media(max-width:990px){
  .button__tabs{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-left: 0;
  }
}

.bi {
  color: white;
  font-size: 24px;
}

.register{
  padding-right: 13%;
}

.nav-link{
  font-family: 'Palette Mosaic', cursive;
  text-decoration: underline;
}
